<div class="container">
  <p *ngIf="Employee.length<=0" class="no-data text-center">There is no employee added yet !</p>

  <table class="table table-bordered" *ngIf="Employee.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col"> Employee ID</th>
        <th scope="col"> Name </th>
        <th scope="col">Email</th>
        <th scope="col"> Designation</th>
        <th scope="col"> Phone Number</th>
        <th scope="col center"> Update </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let i=index">
        <th scope="row">{{employee._id}}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td> {{ employee.designation }} </td>
        <td> {{ employee.phoneNumber }}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-employee', employee._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="remove" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
