<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <div class="card-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="inputName"> Name </label>
          <input type="text" class="form-control" formControlName="name">
          <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required"> Name is required</div>
        </div>

        <div class="form-group">
          <label for="inputEmail"> Email</label>
          <input type="email" class="form-control" formControlName="email">
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required"> Email is required</div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">Enter valide emails</div>
        </div>

        <div class="form-group">
          <label for="designation"> Designation</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value) "
            formControlName="designation">
            <option value="">Choose ...</option>
            <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}"> {{ employeeProfile }}
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && myForm.designation.errors?.required">Choose designation
          </div>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Mobile No</label>
          <input type="text" class="form-control" formControlName="phoneNumber">
          <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required"> Phone Number is
            required</div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern"> Enter valide Phone
            Number</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
        </div>
      </form>

    </div>
  </div>

</div>
