<nav>
  <a routerLinkActive="active" routerLink="/employees-list"> View Employees</a>
  <a routerLinkActive="active" routerLink="/create-employee">Add Employee</a>
</nav>
<router-outlet></router-outlet>
